numpy>=1.22,<1.25
scipy==1.10.1
matplotlib>=3.6
scikit-learn>=1.2
pyamg>=5.0
trimesh>=3.20
shapely>=2.0
manifold3d>=2.3
rtree>=1.0
pyvista>=0.38.5
pyvistaqt>=0.11
PyQt5>=5.15
pyglet<2
imageio>=2.30
pyaedt==0.13.3
ansys-motorcad-core
pywin32; sys_platform == "win32"
tqdm>=4.65
pympler>=1.0
pyinstaller>=5.13
swat-em==0.6.3