numpy>=1.22,<1.25
scipy==1.10.1
pypardiso
matplotlib ==3.6
scikit-learn==1.2
pyamg==5.0
trimesh
manifold3d
shapely==2.0
manifold3d==2.3
rtree==1.0

pandas

pyvista==0.43.0
pyvistaqt==0.11.1
vtk == 9.3.1
PyQt5==5.15.10

pyglet<2
imageio==2.30

pyaedt[all]==0.25.1
ansys-motorcad-core == 0.8.6

pywin32; sys_platform == "win32"
tqdm==4.65
pympler==1.0
pyinstaller==5.13
swat-em==0.6.3